# Dependency files
poetry.lock
pyproject.toml

# Config and Database files
alembic.ini
database.py
.env

# Specific test file
user/domain/user_test.py
user/application/user_service_test.py
user/interface/controllers/user_controller_test.py
user/infra/repository/user_repo_test.py